main{
    display:block;
    background-color: #f4f999 ;
}
body{
    background-color: #f6f7f9;
}
h1{
    font-size: 2rem;
    font-weight: 600;
    line-height: 3rem;
    text-align:center;
    color: #011d28;
}
h2{
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 2rem;
    text-align:center;
    color: #011d28;
}
h3{
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
    text-align:center;
    color: #011d28;
}
p{
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.5rem;
    text-align:center;
    color: #011d28;
}

a{
    display:grid;
    grid-template-columns: 1fr;
    text-decoration: none;
    text-decoration-style: none;
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.5rem;
    text-align:center;
    color: #85a6b2f1;
a:hover{
    color: rgb(156, 139, 233);
}
alt:hover{
    color: rgb(73, 70, 64);
}
.scenerios{
    display:grid;
    grid-template-columns: 2fr 1 fr auto;
    width: 75%;
    height: 50%;
    margin: 0 auto;
    padding: 1rem;
    background-color: #645c5a;
    color: #011d28#333;
}
.colors{
    display:grid;
    grid-template-columns: 1fr;
    width: 75%;
    height: 50%;
    margin: 0 auto;
    padding: 1rem;
    background-color: #645c5a;
    color: #333;
}

.typography{
    display:grid;
    grid-template-columns: 1fr;
    width: 75%;
    height: 50%;
    margin: 0 auto;
    padding: 1rem;
    background-color: #645c5a;
    color: #011d28;
}

.wireframes{
    display:grid;
    grid-template-columns: 1fr;
    width: 75%;
    height: 50%;
    margin: 0 auto;
    padding: 1rem;
    background-color: #645c5a;
    color: #011d28;
}
footer{
    display:grid;
    grid-template-columns: auto;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 1rem;
    border-radius: 1rem;
    color: #011d28;
}