:root{
    background-color: rgba(227, 232, 229 .2);
  }
  main{
    margin-top:20px;
  }
  
  .chamber{
    display:grid;
    grid-template-columns:1fr 1fr;
    margin:10px;
    margin-bottom:10px;
    
  }
  h1{
    padding:10px;
    margin:10px;
  }

  h3{
    color: black;
    font-size: 1.5rem;
    margin:10px;
    
  }
  h1, h2, h3, h4{
    color: darkblue;
  }

  .top{
    display:block;
    padding:.5rem;
    margin-left:5px;
    margin-right:5px;
  }
  
  .mid{
    display:block;
    padding:10px;
  }
  
  legend{
    margin-left:5px;
    margin-right:5px;
    color:black;
    font-size: 1.5rem;
  }
  
  label{
    color:rgba(42, 51, 44);
    font-size:.8rem;
  }
  .bottom{
    margin-top:10px;
    border:none;
  }
  #button{
    margin:10px;
    padding:10px;
    height: 75px;
    position: relative;
  }
  .submitBtn{
    background-color: rgb(141, 248, 105);
    border: 2px solid rgb(0, 33, 0);
    border-radius:10px;
    color: rgb(0, 8, 0);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 20px;
    margin: 2px 2px;
    cursor: pointer;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  .submitBtn:hover {background-color: #f6a2a2;}
  
  .last{
    margin:10px;
    padding:10px;
    border:2px solid grey;
  }
  table{
    display:grid;
    padding:20px;
  }
  th{
    padding:10px;
    border:2px solid grey;
    background-color: rgb(246, 246, 202);
    font-weight:bold;
  }
  td{
    padding:10px;
    border:2px solid grey;
    background-color: rgb(240, 240, 240);
    font-weight: 400;
  }