header { 
    text-align: center; 
    font-size: 1rem; 
    color:rgb(6, 6, 238);
 } 
main { 
    margin: 1rem; 
}
div{
    color:whitesmoke;
}

div #cards { 
    width: 50%;
}

#cards {
    display: flex;
    text-align: center;
    gap: 5px;
    padding: 1rem;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    font-size:1.2em;
}

section {
    border: solid 1px;
    border-radius: 1rem;
    background-color: rgba(10, 30, 43, 0.7);
    box-shadow: 0 0 5px #f49999;
    padding: 0.75rem;
    margin: 10px;
    width: 60%;
}
@media screen and (max-width: 768px) {
    #cards {
        width: 100%;
    }
    section {
        display:block;
        width: 100%;
    }
    
}

.member-container {
    display: flex;
    margin: 0 auto;
    /* justify-content: center; */
    /* align-items: center; */
    flex-direction: row;
    width: 100%;
    height: 100%;
    /* flex-wrap: wrap; */
    /* align-content: center; */
}

.member-container .grid section{
    max-width:560px;
}
h3{
    font-size: 1.5rem;
    color: whitesmoke;
    font-weight: 800;
}
h2 {
    font-size: 2.5rem;
    color: rgb(7, 0, 0); 
    font-weight: 800;
}
 


.menu {
    margin: 1rem auto;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0.5rem;
    background-color: var(--dark);
    border-radius: 1rem;
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-evenly;
    align-items: center;
}

.menu button {
	padding: 1rem;
	font-weight: 900;
}

/*section {
	border: 1px solid rgba(0, 0, 0, 0.1);
	padding: 0.5rem;
	background-color: #eee;
}*/

.grid {
    /* display: grid; */
    /* grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); */
    grid-gap: 5px;
    align-items: left;
}

.grid section {
	text-align: left;
}

.grid img {
    border: 2px solid #999494;
    border-radius: 5px;
    box-shadow: 0 0 5px #f49999;
    padding:0;
    margin: 10px;
    width: 100%;
    height: auto;
    
}

.grid section > * {
	margin: 0.1rem;
}

/*.grid h3 {
	font-family: "Caveat", cursive;
}*/

.list #cards {
	display: flex;
	flex-direction: column;
}

.list section {
    display:flex;
    
    margin: 0;
    padding: 0.5rem;
    align-content: space-evenly;
    flex-direction: column;
    /* align-items: stretch; */
}

.list section > * {
	margin: 0 2rem;
}

.list section img {
	display: none; /* smaller viewports only */
}

.list section h3 {
	font-size: 1.5rem;
	font-family: Roboto, Helvetica, sans-serif;
}

.list section:nth-child(even) {
	background-color: rgb(3, 71, 93);
}

section h3 {
	font-size: 1.5rem;
    text-align: left;
    font-family: Roboto, Helvetica, sans-serif;
}

section p {
	font-weight: 600;
	font-size: smaller;
}

section a {
	font-family: "Roboto", Arial, sans-serif;
	font-size: 0.9rem;
	color: rgb(3, 71, 93);
	letter-spacing: 1.1pt;
}

img {
	
	max-width: 100%;
}
