* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    line-height: 1.5rem;
    color: rgb(248, 218, 218);
}
h1 {
    font-size: 2rem;
    font-weight: 600;
    line-height: 3rem;
    text-align:center;
    color: rgb(11, 0, 0);
}
h2,h3,h4,h5,h6{
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 2rem;
    text-align:center;
    color: rgb(11, 0, 0);
}
h2{
    padding:1rem;

}
p{
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5rem;
    text-align:center;
    color:rgb(1, 30, 34);
}
main{
    display:block;
    background-color: ivory;
    max-width:670px;
    margin: 0 auto;
}
.hero{
    margin: 10px auto;
    padding:5px;
    position: relative;
	border: 1px solid rgba(0,0,0,.1);
	height: 300px;
}

.hero img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.herolabel {
	position: absolute;
	top: 30px;
	left: 30px;
	background: radial-gradient(#fff, #aab6eb);
	border: 1px solid rgba(101, 143, 198, 0.75);
	padding: 1.5rem;
	box-shadow: 0 0 3rem #fff;
	opacity: 0.75;
}

.herolabel p {
	margin: 0;
	padding: .25rem;
	font-weight: 700;
	font-size: 2rem;
	font-family:"Tangerine", serif;
}


.card{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 50%;
    margin: 0 auto;
    padding: 1rem;
    border-radius: 1rem;
    background-color: rgb(50, 156, 248, 0.4);
    color: black;
}
.profileimg{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    height: 20%;
    border-radius: 50%;
    border: 1px solid darkslategray;
}
.card p{
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5rem;
    text-align:center;
    color: ivory;
}   
.firstsection{
    color: rgb(5, 6, 0);
    padding: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 1rem;
}
.firstsection ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
    text-decoration: none;
    color:rgb(5, 6, 0);
}
.secondsection{
    color: rgb(5, 6, 0);
    padding: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 1rem;
}
.map{
    display:grid;
    grid-template-columns: 1/span 2;
    margin:20px auto;
    padding: 1rem;
    border-radius: 1rem;
    background-color: rgb(50, 156, 248, 0.4);
    color: ivory;

}
#hamnav {
    width: 100%;
    background-color:rgb(50, 156, 248, 0.4);
}
  
  
  /* (B) HORIZONTAL MENU ITEMS */
  #hamitems { 
    display: flex;
 }
  #hamitems a {
    flex-grow: 1;
    flex-basis: 0;
    padding: 10px;
    color: black;
    text-decoration: none;
    text-align: center;
  }
  #hamitems a:hover { 
    background: dodgerblue;
 }
  
  /* (C) HIDE HAMBURGER */
  #hamnav label, #hamburger { 
    display: none; 
}
  
  /* [ON SMALL SCREENS] */
  @media screen and (max-width: 768px){
    /* (A) BREAK INTO VERTICAL MENU */
    #hamitems a {
      box-sizing: border-box;
      display: block;
      width: 100%;
      border-top: 1px solid #333;
    }
  
    /* (B) SHOW HAMBURGER ICON */
    #hamnav label {
      display: inline-block;
      cursor: pointer;
      color: white;
      background: #333;
      font-style: normal;
      font-size: 1.2em;
      padding: 10px;

    }
  
    /* (C) TOGGLE SHOW/HIDE MENU */
    #hamitems { display: none; }
    #hamnav input:checked ~ #hamitems { display: block; }
  }
  .visitor{
    display: grid;  
    grid-template-columns: 1/span 2;
    margin:20px auto;
    padding: 1rem;
    border-radius: 1rem;
    background-color: rgb(50, 156, 248, 0.4);
    color: ivory;
}


footer{
    display: flex;
    justify-content: center;
    background-color: rgb(50, 156, 248, 0.4);
    color: ivory;
    
    padding: 1rem;
    margin-top: 1rem;
    border-radius: 1rem;
}