:root{
    --background-color: ivory;
    --user: navy;
    --required: darkred;
    --yes: green;

}
h1{
    color:var(--user);
}  
.top{
    color:black;
    margin:0 1rem;
    padding:0 .5rem;
}

.form {
    margin: 2rem 0;
    border: 1px solid blue; 
    border-radius: 10px;
    padding: .5rem 2%;
}


form label.user{
    display:block;
    color:black;
    padding:5px;
    border: solid 4px black;
    border-radius:4px;
    padding-top: 0 .5rem;
    font-size: .8rem;
    color:#555;
    width: 100%;
    max-width: 20rem;

}
.bottom{
    display:block;
    color:black;
    background-color:var(--background-color);
    border: solid 4px black;
    border-radius: 4px;
    padding-top: 0 .5rem;
}


form input.submitBtn{
    border: none;
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    background-color: var(--required);
    color: var(--background-color);
    margin: 0 0 2rem 2%;
    width: 96%;
    max-width: 20rem;

}

form label.user :required{
    border-left: solid 6px var(--required);
}

form label.user :required:valid{
    border-left: solid 6px var(--yes);
}

    
#r {
	width: 180px;
	margin-bottom: 0;
}

#rangevalue {
	font-size: 2rem;
	color: navy;
}

#rangevalues {
	display: flex;
	margin: 0 0 0 25px;
	width: 200px;
}

#rangevalues option {
	flex: 1 1 auto;
}
